<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>Propiedades para <b>{{applicationId}}</b>
      </div>
      <div class="card-body">
        <div class="row mt-4">
          <div class="col">
            <div class="table-responsive">
              <p-table #dt [columns]="cols" [value]="properties" [paginator]="true" [rows]="10"
                [resizableColumns]="true" selectionMode="single" [(selection)]="selectedproperty"
                (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td>{{rowData['Key00']}}</td>
                    <td>{{rowData['Key01']}}</td>
                    <td>{{rowData['Key02']}}</td>
                    <td>{{rowData['Value00']}}</td>
                    <td>{{rowData['Value01']}}</td>
                    <td>{{rowData['Value02']}}</td>
                    <td>{{rowData['NumericValue']}}</td>
                    <td>{{rowData['Description']}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                  <div style="text-align:left">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()"
                      label="Agregar"></button>
                  </div>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>



<p-dialog header="Detalle de la propiedad" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{width: '700px'}">
  <div class="p-grid ui-fluid" *ngIf="property">
    <div class="p-col-4">
      <label for="Llave00">Llave00</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="Llave00" [(ngModel)]="property.Key00" autofocus />
    </div>
    <div class="p-col-4">
      <label for="Llave001">Llave001</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="Llave001" [(ngModel)]="property.Key01" />
    </div>
    <div class="p-col-4">
      <label for="Llave002">Llave002</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="Llave002" [(ngModel)]="property.Key02" />
    </div>
    <div class="p-col-4">
      <label for="Valor00">Valor00</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="Valor00" [(ngModel)]="property.Value00" />
    </div>
    <div class="p-col-4">
      <label for="value01">Valor01</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="value01" [(ngModel)]="property.Value01" />
    </div>
    <div class="p-col-4">
      <label for="value02">Valor02</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="value02" [(ngModel)]="property.Value02" />
    </div>
    <div class="p-col-4">
      <label for="numvalue">Valor Numerico</label>
    </div>
    <div class="p-col-8">
      <textarea pInputText id="numvalue" [(ngModel)]="property.NumericValue"></textarea>
    </div>
    <div class="p-col-4">
      <label for="desc">Descripcion</label>
    </div>
    <div class="p-col-8">
      <textarea pInputText id="desc" [(ngModel)]="property.Description"></textarea>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="onDelete()" label="Delete"
        class="ui-button-danger"></button>
      <button type="button" pButton icon="pi pi-check" (click)="onUpdate()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
